@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============================================
=            CSS Custom Properties             =
=============================================*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 14rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive Typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 8rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*=============================================
=                    Reset                    =
=============================================*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: hsl(23, 4%, 30%) hsl(23, 4%, 15%);
}

*,
*::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}

i {
  pointer-events: none;
  /* Prevents the icon from capturing clicks */
}

/*=============================================
=            Reusable Utility Classes       =
=============================================*/
.container {
  max-width: 112rem;
  padding-inline: 2.4rem;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.section {
  padding-block: 15rem 1.6rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.4rem;
}

/* For ScrollReveal animation */
/* .main {
  overflow: hidden;
} */

/*=============================================
=                 Header & nav                 =
=============================================*/
.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.blur-header::after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, .2);
  backdrop-filter: blur(3.2rem);
  -webkit-backdrop-filter: blur(3.2rem);
  z-index: -1;
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(23, 12%, 4%, 0.2);
    width: 100%;
    padding-block: 8.8rem 7.2rem;
    backdrop-filter: blur(3.2rem);
    -webkit-backdrop-filter: blur(3.2rem);
    transition: top .4s ease;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s ease;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 0.6rem;
  right: 2.4rem;
}

.nav__menu--active {
  top: 0;
}

.active-link {
  color: var(--first-color);
  font-weight: 600;
}

/*=============================================
=                    Home                      =
=============================================*/
/* .main {
  margin-block-start: 15rem;
} */

.home__content {
  position: relative;
  display: grid;
  justify-self: center;
}

.home__img {
  width: 22rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .4rem;
  color: var(--first-color);
  position: absolute;
  inset-block-start: -3.2rem;
  justify-self: center;
}

.home__title span:nth-child(2) {
  z-index: -1;
}

.home__tooltip {
  position: absolute;
  inset-block-start: -.8rem;
  inset-inline-end: 2.4rem;
}

.home__tooltip-img {
  width: 6rem;
}

.home__tooltip-text {
  background: var(--gradient-color);
  padding: .4rem 1.2rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 6.4rem;
  font-size: var(--smaller-font-size);
  position: absolute;
  /* Translate tooltip horizontally and vertically; uses --tooltip-x and --tooltip-y or defaults (6rem, -4rem) */
  transform: translate(var(--tooltip-x, 6rem), var(--tooltip-y, -4rem));
  white-space: nowrap;
}

.home__social {
  display: grid;
  justify-items: center;
  row-gap: 9.6rem;
  position: absolute;
  inset-block-start: 14.4rem;
  /* inset-inline-start: -2.4rem; */
  inset-inline-start: 0rem;
}

.home__social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__social-text::after {
  content: '';
  width: 4.8rem;
  height: 0.1rem;
  background-color: var(--text-color);
  position: absolute;
  inset-block: 0;
  inset-inline-end: -6.4rem;
  margin-block: auto;
}

.home__social-links {
  display: grid;
  row-gap: 1.2rem;
}

.home__social-link {
  font-size: 2rem;
  color: var(--text-color);
  transition: color .4s;
}

.home__social-link:hover {
  color: var(--first-color);
}

.home__button {
  justify-self: center;
}

.button {
  background: var(--gradient-color);
  padding: 1.2rem 2.4rem;
  border-radius: 6.4rem;
  font-weight: var(--font-semi-bold);
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .8rem;
  transition: box-shadow .4s ease;
}

.button i {
  font-size: 2rem;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.button:hover {
  box-shadow: 0 1.2rem 3.2rem hsla(23, 100%, 50%, 0.12);
}

/*=============================================
=                    About                     =
=============================================*/
.about__container {
  row-gap: 5.6rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 4rem;
}

.about__img {
  width: 28rem;
  justify-self: center;
}

.about__button i {
  font-size: 2.8rem;
  font-weight: var(--font-regular);
}

/*=============================================
=                  Favorite                    =
=============================================*/
.favorite__container {
  padding-top: 3.2rem;
}

.favorite__article {
  width: 22rem;
  display: grid;
  justify-items: center;
  filter: blur(.8rem);
  transform: scale(.8);
  transition: filter .3s ease, scale .3s ease;
  will-change: transform, filter;
}

.favorite__img {
  width: 22rem;
  margin-bottom: 2.4rem;
}

.favorite__model {
  background: var(--gradient-color);
  padding-block: .8rem;
  padding-inline: 2.4rem;
  border-radius: 6.4rem;
  color: var(--white-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--first-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #00cc66;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  filter: blur(0);
  scale: 1;
}


/*=============================================
=                  Model                    =
=============================================*/
.model__container {
  padding-block-start: 3.2rem;
  row-gap: 4rem;
}

.model__content {
  position: relative;
  justify-self: center;
}

.model__img {
  width: 28rem;
}

.model__tooltip-img {
  width: 6rem;
}

.model__tooltip-text {
  background: var(--gradient-color);
  padding: .4rem 1.2rem;
  border-radius: 6.4rem;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: translate(6rem, -4rem);
  text-align: center;
  white-space: nowrap;
}

.model__tooltip-1,
.model__tooltip-2 {
  transform: scaleX(-1);
}

.model__tooltip-1 .model__tooltip-text,
.model__tooltip-2 .model__tooltip-text {
  transform: translate(6rem, -4rem) scaleX(-1);
}

.model__tooltip {
  position: absolute;
}

.model__tooltip-1 {
  inset-block-start: 8.8rem;
  inset-inline-start: 8rem;
}

.model__tooltip-2 {
  inset-block-start: 1.6rem;
  inset-inline-end: 2.4rem;
}

.model__tooltip-3 {
  inset-block-end: 2.88rem;
  inset-inline-start: 5.6rem;
}

.model__tooltip-4 {
  inset-block-end: 11.2rem;
  inset-inline-end: 8rem;
}

.model__button {
  justify-self: center;
}


/*=============================================
=                  Sponsor                    =
=============================================*/
.sponsor__img {
  width: 10rem;
  transition: transform .4s ease;
}

.sponsor__img:hover {
  transform: scale(1.1);
}

.sponsor__container {
  padding-block: .8rem 7.2rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 8rem 6.4rem;
}


/*=============================================
=                   Footer                     =
=============================================*/
.footer {
  padding-block: 3.2rem;
  overflow: hidden;
}

.footer__container {
  row-gap: 6.4rem;
}

.footer__logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.footer__data {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6.4rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-block-end: 1.6rem;
}

.footer__links {
  display: grid;
  row-gap: 1.2rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .4s ease;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__group {
  grid-column: 1/3;
}

.footer__form {
  display: grid;
  row-gap: 1.6rem;
  margin-block-end: 3.2rem;
}

.footer__input,
.footer__button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border: none;
  outline: none;
}

.footer__button {
  cursor: pointer;
}

.footer__button i {
  font-size: 2.5rem;
}

.footer__input {
  width: 100%;
  padding: 1.84rem 2rem;
  border-radius: 6.4rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.footer__input::placeholder {
  color: var(--text-color);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.6rem;
}

.footer__social-link {
  color: var(--white-color);
  font-size: 2rem;
  transition: color .4s ease;
}

.footer__social-link:hover {
  color: var(--first-color);
}

.footer__copy {
  margin-top: 8rem;
  font-size: var(--smaller-font-size);
  text-align: center;
}

.footer__copy a {
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s ease;
}

.footer__copy a:hover {
  color: var(--first-color);
}


/*=============================================
=                 Scroll bar                   =
=============================================*/
::-webkit-scrollbar {
  width: 0.96rem;
  border-radius: .8rem;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(23, 4%, 30%);
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}


/*=============================================
=                  Scroll up                   =
=============================================*/
.scrollup {
  position: fixed;
  inset-inline-end: 1.6rem;
  inset-block-end: -50%;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 2rem;
  padding: .6rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s ease, transform .4s ease;
}


.scrollup:hover {
  transform: translateY(-0.4rem);
}

.show-scrollup {
  inset-block-end: 4.8rem;
}


/*=============================================
=                 Breakpoints                  =
=============================================*/
/* Styles for small devices */
@media screen and (max-width: 540px) {
  .home__img {
    width: 18rem;
  }

  .home__title {
    font-size: 12.8rem;
  }

  .model__img {
    width: 22rem;
  }

  .model__tooltip-text {
    font-size: var(--smaller-font-size);
    transform: translate(4.2rem, -4rem);
  }

  .model__tooltip-1 .model__tooltip-text,
  .model__tooltip-2 .model__tooltip-text {
    transform: translate(4rem, -4rem) scaleX(-1);
  }

  .model__tooltip-1 {
    inset-block-start: 4.8rem;
    inset-inline-start: 6.4rem;
  }

  .model__tooltip-2 {
    inset-block-start: 0;
  }

  .model__tooltip-3 {
    inset-block-end: 3.2rem;
    inset-inline-start: 4.8rem;
  }

  .model__tooltip-4 {
    inset-block-end: 9.6rem;
    inset-inline-end: 6.4rem;
  }

  .sponsor__container {
    gap: 6.4rem 3.2rem;
  }
}

/* Styles for medium devices */
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: 38rem;
    justify-content: center;
  }

  .footer__data {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
    justify-content: center;
  }

  .footer__group {
    grid-column: initial;
  }

  .footer__social {
    justify-content: inherit;
  }
}

@media screen and (min-width: 768px) {
  .home__img {
    width: 32rem;
  }

  .home__title {
    font-size: 22rem;
    inset-block-start: -6.4rem;
  }

  .home__social {
    inset-block: 0;
    align-content: center;
  }

  .sponsor__container {
    grid-template-columns: repeat(4, max-content);
  }

  .swiper-button-prev {
    left: 20rem;
  }

  .swiper-button-next {
    right: 20rem;
  }
}

@media screen and (min-width: 1150px) {
  .section {
    padding-block: 20rem 3.2rem;
  }

  .section__title {
    font-size: var(--h1-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 3.2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 7.2rem;
  }

  .home__container {
    position: relative;
  }

  .home__img {
    width: 50rem;
  }

  .home__title {
    font-size: 35rem;
    inset-block-start: -10.4rem;
    column-gap: 1.6rem;
  }

  .home__tooltip {
    inset-inline-end: 9.6rem;
  }

  .home__tooltip-img {
    width: initial;
  }

  .home__tooltip-text {
    font-size: var(--normal-font-size);
    transform: translate(8.2rem, -5.2rem);
  }

  .home__social-text {
    font-size: var(--normal-font-size);
  }

  .home__social-links {
    row-gap: 1.6rem;
  }

  .home__social-link {
    font-size: 2.4rem;
  }

  .about__container {
    grid-template-columns: 40rem 50rem;
    justify-items: center;
    align-items: center;
    column-gap: 8rem;
  }

  .about__data .section__title,
  .about__data {
    text-align: initial;
  }

  .about__description {
    margin-bottom: 5.6rem;
  }

  .about__img {
    width: 50rem;
  }

  .favorite__container {
    max-width: 110rem;
    margin-inline: auto;
  }

  .favorite__img {
    width: 50rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .model__img {
    width: 50rem;
  }

  .model__tooltip-img {
    width: initial;
  }

  .model__tooltip-text {
    font-size: var(--normal-font-size);
    padding: .8rem 2rem;
    transform: translate(8.2rem, -5.6rem);
  }

  .model__tooltip-1 {
    inset-block-start: 12rem;
    inset-inline-start: 13.6rem;
  }

  .model__tooltip-1 .model__tooltip-text {
    transform: translate(8.2rem, -5.6rem) scaleX(-1);
  }

  .model__tooltip-2 {
    transform: initial;
    inset-block-start: 10.5rem;
    inset-inline-end: 2.4rem;
  }

  .model__tooltip-2 .model__tooltip-text {
    transform: translate(8.2rem, -5.6rem);
  }

  .model__tooltip-3 {
    transform: scaleX(-1);
    inset-block-end: 9.6rem;
    inset-inline-start: 0rem;
  }

  .model__tooltip-3 .model__tooltip-text {
    transform: translate(8.2rem, -5.6rem) scaleX(-1);
  }

  .model__tooltip-4 {
    inset-block-end: 16rem;
    inset-inline-end: 11.2rem;
  }

  .sponsor__container {
    column-gap: 12rem;
    padding-bottom: 9.6rem;
  }

  .footer {
    padding-bottom: 4.8rem;
  }

  .footer__data {
    column-gap: 9.6rem;
  }

  .footer__form {
    grid-template-columns: 1fr max-content;
    background-color: var(--container-color);
    padding: .8rem;
    border-radius: 6.4rem;
    width: 38rem;
  }

  .footer__social {
    column-gap: 2.4rem;
    justify-content: center;
  }

  .footer__social-link {
    font-size: 2.4rem;
  }

  .footer__copy {
    margin-top: 12rem;
  }

  .scrollup {
    inset-block-end: 4.8rem;
  }


}
